@import url("https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "New Tegomin", sans-serif;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* need the height to get it to center in the page when using flex */
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url("63-MVA-132_33kV---NEPCO---Jordan-2008.png") no-repeat center
    center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

h1 {
  position: relative;
  left: 80%;
  cursor: pointer;
}

a {
  position: relative;
  left: 80%;
  cursor: pointer;
  font-size: 40px;
}

.loading-text {
  font-size: 80px;
  color: #fff;
  position: relative;
  left: 50%;
  top: 50%;
}
